@{
    Layout = null;
}

<!DOCTYPE html>
    <!--[if lt IE 7]>      <html class="no-js ie6"> <![endif]-->
    <!--[if IE 7]>         <html class="no-js ie7"> <![endif]-->
    <!--[if IE 8]>         <html class="no-js ie8"> <![endif]-->
    <!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
	<meta name="viewport" content="target-densitydpi=device-dpi" />

	<title>Project Integral - Create Campaign</title>
	<meta name="description" content="">
	<link rel="stylesheet" href="css/style.css">
	@Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/fabric")
    @Scripts.Render("~/bundles/AllModels")
    @Scripts.Render("~/bundles/WorldBoard")
</head>
<body>
    <section class="main-container">

    	<div class="tab-parent top-tab">
		    <div class="tab-container">
		        <div id="tab16" class="tab-content">
		        	<ul>
		        		<li><a href="javascript:;" class="active">Tool-1</a></li>
		        		<li><a href="javascript:;">Item no1</a></li>
		        		<li><a href="javascript:;">Item no1</a></li>
		        		<li><a href="javascript:;">Item no1</a></li>
		        	</ul>
		        </div>
		        <div id="tab17" class="tab-content">
		        	<ul>
		        		<li><a href="javascript:;" class="active">Tool-2</a></li>
		        		<li><a href="javascript:;">Item no2</a></li>
		        		<li><a href="javascript:;">Item no2</a></li>
		        		<li><a href="javascript:;">Item no2</a></li>
		        	</ul>
		        </div>
		        <div id="tab18" class="tab-content">
		        	<ul>
		        		<li><a href="javascript:;" class="active">Tool-3</a></li>
		        		<li><a href="javascript:;">Item no3</a></li>
		        		<li><a href="javascript:;">Item no3</a></li>
		        		<li><a href="javascript:;">Item no3</a></li>
		        	</ul>
		        </div>
		        <div id="tab19" class="tab-content">
		        	<ul>
		        		<li><a href="javascript:;" class="active">Tool-4</a></li>
		        		<li><a href="javascript:;">Item no4</a></li>
		        		<li><a href="javascript:;">Item no4</a></li>
		        		<li><a href="javascript:;">Item no4</a></li>
		        	</ul>
		        </div>
		    </div>
		    <ul class="tabs">
		        <li><a href="#tab16">Tool-1</a></li>
		        <li><a href="#tab17">Tool-2</a></li>
		        <li><a href="#tab18">Tool-3</a></li>
		        <li><a href="#tab19">Tool-4</a></li>
		    </ul> 
		</div>

    	<div class="bottom-tab-holder">
    		<div class="button-wrap">
    			<a href="javascript:;" class="hide-show">Hide/Show</a>
    		</div>
			<div class="tab-parent tab-wrap">
			    <ul class="tabs horizontal">
			        <li><a href="#tab1">Storyline</a></li>
			        <li><a href="#tab2">Handouts</a></li>
			        <li><a href="#tab3">Journal</a></li>
			        <li><a href="#tab4">Characters</a></li>
			        <li><a href="#tab5">Decks</a></li>
			        <li><a href="#tab6">Settings</a></li>
			        <li><a href="#tab7">Help</a></li>
			    </ul>
			    <div class="tab_container">
			        <div id="tab1" class="tab-content">
			        	Storyline
			        </div>
			        <div id="tab2" class="tab-content">
			        	Handouts
			        </div>
			        <div id="tab3" class="tab-content">
			        	Journal
			        </div>
			        <div id="tab4" class="tab-content">
			        	Characters
			        </div>
			        <div id="tab5" class="tab-content">
			        	Decks
			        </div>
			        <div id="tab6" class="tab-content">
			        	Settings
			        </div>
			        <div id="tab7" class="tab-content">
			        	Help
			        </div>
			        <div id="tab8" class="tab-content">
			        	<div class="flexslider">
				        	<ul class="slides">
				        		<li><a href="javascript:;"><img src="images/orc100x100.jpg"></a></li>
				        		<li><a href="javascript:;"><img src="images/orc100x100.jpg"></a></li>
                                <li><a href="javascript:;"><img src="images/orc100x100.jpg"></a></li>
				        		<li><a href="javascript:;"><img src="images/orc100x100.jpg"></a></li>
                                <li><a href="javascript:;"><img src="images/orc100x100.jpg"></a></li>
				        		<li><a href="javascript:;"><img src="images/orc100x100.jpg"></a></li>
                                <li><a href="javascript:;"><img src="images/orc100x100.jpg"></a></li>
				        		<li><a href="javascript:;"><img src="images/orc100x100.jpg"></a></li>
                                <li><a href="javascript:;"><img src="images/orc100x100.jpg"></a></li>
				        		<li><a href="javascript:;"><img src="images/orc100x100.jpg"></a></li>
                                <li><a href="javascript:;"><img src="images/orc100x100.jpg"></a></li>
				        		<li><a href="javascript:;"><img src="images/orc100x100.jpg"></a></li>
                                <li><a href="javascript:;"><img src="images/orc100x100.jpg"></a></li>
				        		<li><a href="javascript:;"><img src="images/orc100x100.jpg"></a></li>
				        	</ul>
				        </div>
			        </div>
			        <div id="tab9" class="tab-content tab-effects">
			        	<div class="flexslider">
				        	<ul class="slides">
				        		<li><a href="javascript:;"><img src="images/orc100x100.jpg"></a></li>
				        		<li><a href="javascript:;"><img src="images/orc100x100.jpg"></a></li>
                                <li><a href="javascript:;"><img src="images/orc100x100.jpg"></a></li>
				        		<li><a href="javascript:;"><img src="images/orc100x100.jpg"></a></li>
                                <li><a href="javascript:;"><img src="images/orc100x100.jpg"></a></li>
				        		<li><a href="javascript:;"><img src="images/orc100x100.jpg"></a></li>
                                <li><a href="javascript:;"><img src="images/orc100x100.jpg"></a></li>
				        		<li><a href="javascript:;"><img src="images/orc100x100.jpg"></a></li>
                                <li><a href="javascript:;"><img src="images/orc100x100.jpg"></a></li>
				        		<li><a href="javascript:;"><img src="images/orc100x100.jpg"></a></li>
                                <li><a href="javascript:;"><img src="images/orc100x100.jpg"></a></li>
				        		<li><a href="javascript:;"><img src="images/orc100x100.jpg"></a></li>
                                <li><a href="javascript:;"><img src="images/orc100x100.jpg"></a></li>
				        		<li><a href="javascript:;"><img src="images/orc100x100.jpg"></a></li>
				        	</ul>
				        </div>
			        </div>
			        <div id="tab10" class="tab-content tab-sounds">
			        	Sounds
			        </div>
			        <div id="tab11" class="tab-content">
			        	Conditions
			        </div>
			        <div id="tab12" class="tab-content">
			        	Spells
			        </div>
			        <div id="tab13" class="tab-content">
			        	Skills
			        </div>
			        <div id="tab14" class="tab-content">
			        	Abilities
			        </div>
			        <div id="tab15" class="tab-content">
			        	Chat
			        </div>
			    </div>
			    <ul class="tabs horizontal">
			        <li><a href="#tab8">Images</a></li>
			        <li><a href="#tab9">Effects</a></li>
			        <li><a href="#tab10">Sounds</a></li>
			        <li><a href="#tab11">Conditions</a></li>
			        <li><a href="#tab12">Spells</a></li>
			        <li><a href="#tab13">Skills</a></li>
			        <li><a href="#tab14">Abilities</a></li>
			        <li><a href="#tab15">Chat</a></li>
			    </ul>
			</div><!-- end tab-parent -->
		</div><!-- end tab-holder main-tab -->
        <canvas class="main-canvas">

        </canvas><!-- end main-canvas -->
		
    </section><!-- end main-container -->
    
<!-- javascript -->
@Scripts.Render("~/bundles/WorldBoardToolbox")
@Scripts.Render("~/bundles/flexslider")

<!--[if lt IE 7]><p class="chromeframe">Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

</body>
</html>
